.container{
    text-align: center;   
    margin: 23px;
}
table{
    margin: auto;
}
input{
    font-size: 34px;
    border:2px solid #244624;
    border-radius: 15px;
    margin-bottom: 20px;

}
button{
    
    font-size: 40px;
    background-color: rgb(221, 230, 225) ;
    width: 90px;
    height: 65px;
    border-radius: 20px;
    margin:6px;
   
 
}
.calculator
{   border-radius: 53px;
    display: inline-block;
    height: 470px;
    margin-left: 50px;
    background-color: rgb(205, 195, 195);
    padding: 50px;
}